<div class="row">
  <div class="col-md-6">
    <h2><i class="fa fa-user-secret"></i>Clients</h2>
  </div>
  <div class="col-md-6">
    <h5 class="text-right text-secondary">Total Owed: {{totalOwed | currency: 'INR'}}</h5>
  </div>
</div>
<table class="table customTable table-bordered table-responsive-md" *ngIf="clientsArray?.length > 0; else noClients">
  <thead>
  <tr>
    <th scope="col">Name</th>
    <th scope="col">Email</th>
    <th scope="col">Phone</th>
    <th scope="col">Balance</th>
    <th scope="col">Details</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let arr of clientsArray">
    <td>{{arr.firstName}} {{arr.lastName}}</td>
    <td>{{arr.email}}</td>
    <td>{{arr.phone}}</td>
    <td>{{arr.balance | currency: 'INR'}}</td>
    <td><button class="btn btn-primary btn-sm customBtn buttons"
                routerLink="client/{{arr.id}}">
      Details &nbsp;<span>  </span> <i class="fa fa-angle-double-right"></i></button></td>
  </tr>

  </tbody>
</table>
<ng-template #noClients>
  <h5>NO CLIENTS FOUND</h5>
</ng-template>
