<div class="row">
  <div class="col-md-6">
    <button class="btn btn-secondary customBtn buttons " routerLink="/"
    ><span><i class="fa fa-backward customBack"></i>
      <i class="fa fa-bars customBack"></i>  Back</span>
    </button>
  </div>
  <div class="col-md-6">
    <div class="btn-group ">
      <button class="btn btn-dark customBtn buttons"
              routerLink="/client/edit/{{id}}">
       <span><i class="fa fa-backward customBack"></i>
      <i class="fa fa-bars customBack"></i>  Edit</span>
      </button>
    </div>
  </div>
</div>
