<div class="row">
  <div class="col-md-6 mx-auto">
    <div class="card card-body customBody">
      <h1 class="text-center pb-4 pt-3"><i class="fa fa-lock text-primary"></i>
      <span class="text-warning"> Client</span>
        <span class="text-success"> Panel</span>
          Login</h1>
      <form >
        <div class="form-group">
          <label for="email">Email</label>
          <input type="text" id="email" name="email" class="form-control" [(ngModel)]="email" required>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" id="password" name="password" class="form-control"
                 [(ngModel)]="password" required>
        </div>
        <input type="button" value="Log In" class="btn btn-primary btn-block"
        (click)="onSubmit()">
      </form>
    </div>
  </div>
</div>
