.customBody{
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.glowBtn{
  border: 0;
  font-size: 20px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0,0,0,0.19);
  transition: all .3s ease-in-out;
  animation: glow 3s ease-in-out infinite;
}
.customBtn{
  font-size: 20px;
}
@keyframes glow {
  0% {
    background-color: purple;
    color: white;
  }
50%{
  color: black;
  background-color: rgb(255, 235, 0);
  filter: blur(1px);
  opacity: 1;
}

  100% {    background-color: purple;
    color: white;

  }
}
