.customBtn{
  width: 10em;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.11), 0 6px 20px 0 rgba(0,0,0,0.19);

}
.customBtn:hover{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.buttons {
  display: inline-block;
  border-radius: 4px;
  border: none;
  text-align: center;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.buttons span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.buttons span:after {
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.buttons:hover span {
  padding-right: 100px;
}

.buttons:hover span:after {
  opacity: 1;
  left: 0;
}
.customBody{
  margin-top: 5px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
background-color: rgba(90, 98, 104, 0);
}
.customHeader{
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.51);

  background-color: #4d00df;
  color: #ffffff;
  font-size: 20px;
}
.customBack{
  color: #ffffff;
  font-size: 20px;
}
.formBtn{
  width: 10em;
}
.customCard{
  margin: 0 auto;
  max-width: 70%;
  min-width: 70%;
}
