<div class="row flash-message" #grayOutDiv>
  <div class="col-md-4">
    <button class="btn btn-secondary customBtn buttons " routerLink="/"
    ><span><i class="fa fa-backward customBack"></i>
      <i class="fa fa-bars customBack"></i>  Back</span>
      </button>
  </div>
  <div class="col-md-8">
    <div class="card customCard">
      <div class="card card-header text-center customHeader">Add Client</div>
      <div class="card card-body customBody">
        <form #clientForm="ngForm"
              (ngSubmit)="onSubmit(clientForm)">
          <!--FirstName-->
          <div class="form-group">
            <label for="firstName">First Name</label>
            <input type="text"
                   id="firstName"
                   class="form-control"
                   name="firstName"
                   #clientFirstName="ngModel"
                   [(ngModel)]="firstName" minlength="3" required
                   [ngClass]="{'is-invalid': clientFirstName.errors && clientFirstName.touched}">
            <div [hidden]="!clientFirstName.errors?.required" class="invalid-feedback">
              First Name Required
            </div>
            <div [hidden]="!clientFirstName.errors?.minlength" class="invalid-feedback">
              Must Be Atleast 3 Characters
            </div>
          </div>
          <!--Last Name-->
          <div class="form-group">
            <label for="lastName">Last Name</label>
            <input type="text"
                   id="lastName"
                   class="form-control"
                   name="lastName"
                   #clientLastName="ngModel"
                   [(ngModel)]="lastName" minlength="4" required
                   [ngClass]="{'is-invalid': clientLastName.errors && clientLastName.touched}">
            <div [hidden]="!clientLastName.errors?.required" class="invalid-feedback">
              Last Name Required
            </div>
            <div [hidden]="!clientLastName.errors?.minlength" class="invalid-feedback">
              Must Be Atleast 4 Characters
            </div>
          </div>

          <div class="form-group">
            <label for="email">Email</label>
            <input
              type="text"
              id="email"
              class="form-control"
              name="email"
              #clientEmail="ngModel"
              [ngClass]="{'is-invalid':clientEmail.errors && clientEmail.touched}"
              [(ngModel)]="client.email"
              pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
              required
            >

            <div [hidden]="!clientEmail.errors?.required" class="invalid-feedback">
              Email required
            </div>

            <div [hidden]="!clientEmail.errors?.pattern" class="invalid-feedback">
              Email is not valid
            </div>
          </div>

          <div class="form-group">
            <label for="phone">Phone</label>
            <input
              type="text"
              id="phone"
              class="form-control"
              [ngClass]="{'is-invalid':clientPhone.errors && clientPhone.touched}"
              [(ngModel)]="client.phone"
              name="phone"
              #clientPhone = "ngModel"
              minlength="10"
              required
            >
            <div [hidden]="!clientPhone.errors?.required" class="invalid-feedback">
              Phone is required
            </div>

            <div [hidden]="!clientPhone.errors?.minlength" class="invalid-feedback">
              Must be at least 10 characters
            </div>
          </div>

          <div class="form-group">
            <label for="balance">Balance</label>
            <input
              type="number"
              id="balance"
              class="form-control"
              [(ngModel)]="client.balance"
              name="balance"
              #clientBalance = "ngModel"
              [disabled]="disableBalanceOnAdd"
            >
          </div>

          <div class="row">
            <div class="col-md-4">
              <input type="submit" [hidden]="setValid" value="Submit" class="btn btn-primary btn-block">
            </div>
            <div class="col-md-4" >
            </div>
            <div class="col-md-4">
              <input type="reset" [hidden]="setValid" value="Reset Form" class="btn btn-danger btn-block">

            </div>
            <div class="col-md-12">
              <flash-messages [hidden]="!setValid"></flash-messages> <br>
            </div>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>
